@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoggedIn</h2>


@if(Session["UserID"] != null)
{
    <h4>Hello Session @Session["Username"].ToString()</h4>
}
else {
    <h4>You not login!!!</h4>
}


@Html.ActionLink("Change Password", "ChangePassword")  

@Html.ActionLink("Logout", "Logout")  